/* 
font: cosmic octo
font secundary: retropix
font: open sans extra bold
font Arcade gamer

background: #190D25
primary: #641466
secundary: #421570
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Titan+One&display=swap');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --black: #333333;
  --dark: #190D25;
  --white: #ffffff;
  --primary: #641466;
  --secundary: #421570;
  background-color: var(--dark);
  --open-sans: 'Open Sans', sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Titan One', sans-serif;
  text-transform: uppercase;
}

button {
  background-color: var(--primary);
  color: var(--white);
  fill: var(--white);
  border: 0;
  border-radius: 50px;
  padding: 15px 25px;
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-shadow: 5px 7px 0px 3px var(--secundary);
  box-shadow: 5px 7px 0px 3px var(--secundary);
  transition: all 200ms linear;
  cursor: pointer;
}
button:hover {
  color: var(--dark);
  fill: var(--dark);
  background-color: var(--white);
  /* -webkit-box-shadow: 5px 7px 0px 3px var(--secundary); */
  /* box-shadow: 5px 7px 0px 3px var(--secundary); */
  /* -webkit-box-shadow: 0px 0px 0px 0px var(--white);
  box-shadow: 0px 0px 0px 0px var(--white); */

}
button:focus,
button:focus-visible {
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.step {
  height: 100vh;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 100%;
  padding: 0px 25px;
}
